[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "*"
numpy = "*"
tensorflow = "==1.13.0rc2"
tensorflow-hub = "==0.4.0"
tf-sentencepiece = "==0.1.82"
sentencepiece = "*"
elmoformanylangs = "*"
python-gitlab = "*"
tf-core-p3 = "*"
transformers = "*"
Orange3 = "==3.22.0"

[requires]
python_version = "3.6.2"
