gensim==3.7.1
numpy==1.17.4
Orange3==3.20.1
tensorflow==1.13.0rc2
tensorflow-hub==0.4.0
tf-sentencepiece==0.1.82
sentencepiece==0.1.82
elmoformanylangs==0.0.3
python-gitlab==1.10.0
tf-core-p3==0.0.4
transformers==2.3.0
