gensim==3.8.*
numpy
tensorflow-cpu==2.7.*
tensorflow-hub==0.12.*
sentencepiece
elmoformanylangs
python-gitlab
transformers==4.24.*
Orange3==3.26.0
nltk
allennlp==0.9
lemmagen3
langdetect
pandas
editdistance
fasttext==0.9.*
scikit-learn>=0.23.2
